# Dotfiles
.cache
.godot

# Normal files
compile_commands.json
assets/**/*.import
assets/meshes/**/*.png
assets/meshes/**/*.blend1
assets/meshes/**/*.jpg
assets/meshes/**/*.import
export_presets.cfg

# folders
build/
gen_data/
trenchbroom/maps/autosave
trenchbroom/models

!assets/meshes/**/textures/*.png
!assets/meshes/**/textures/*.jpg
