[submodule "addons/magic_enum"]
	path = addons/magic_enum
	url = https://github.com/Neargye/magic_enum

[submodule "addons/godot-cpp"]
	path = addons/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "addons/convex-cone-shape"]
	path = addons/convex-cone-shape
	url = https://github.com/Oblepikha/godot-convex-cone-shape-3d-plugin
